/python/src/hdfjive/__init__.pyc
/python/src/hdfjive/tagselector.pyc
/python/src/hdfjive/tagselectorstringparser.pyc
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
