/src/hdfjive-events.os
/.sconsign.dblite
/src/hdfjive-neuro.os
/src/hdfjive.os
/python/tagselectorparser_parsetab.py
/MyResults.hdf
/python/src/hdfjive.egg-info/PKG-INFO
/python/src/hdfjive.egg-info/SOURCES.txt
/python/src/hdfjive.egg-info/dependency_links.txt
/python/src/hdfjive.egg-info/entry_points.txt
/python/src/hdfjive.egg-info/top_level.txt
/python/src/hdfjive/cmdline.pyc
/python/src/hdfjive/cmdline/__init__.pyc
/python/src/hdfjive/cmdline/cmdline.pyc
/python/src/hdfjive/cmdline/cmdline_plot.pyc
/python/src/hdfjive/__init__.pyc
/python/src/hdfjive/tagselector.pyc
/python/src/hdfjive/tagselectorstringparser.pyc
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.pyc

*/_output/*
